<div id="menu">
  <nav class="navbar navbar-fixed-top menu-fix-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><img src="assets/img/logo150x40.png" alt="" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav menu-left">
          <li><a href="#/festivals" class="hover-menu">Lễ hội</a></li>
          <li><a href="#/blog" class="hover-menu">Blog</a></li>
          <li><a href="#/video" class="hover-menu">Video</a></li>
          <li><a href="#contact" class="video-live">Trực tiếp</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="menu-create-post" ng-click="createFestivalView()"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
          <li class="dropdown notify">
              <a class="dropdown-toggle btn-notify" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i>
                  <span ng-show="$root.notification.unseen > 0">{{$root.notification.unseen}}</span></a>
              <ul class="dropdown-menu">
                  <li class="notification-message-item" ng-repeat="festival in $root.notification">
                    <a class="clearfix" href="#/festival/{{festival.data._id}}" ng-click="onClickNotification()">
                      <div class="thumnail">
                        <img src="./assets/img/img2.png" alt="" />
                      </div>
                      <div class="message">
                        <p>{{festival.data.title}}</p>
                        <span color='red'>SẮP DIỄN RA</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" style="display:block; text-align:center; padding: 5px" ng-show="$root.notification.length > 10">Xem thêm</a>
                  </li>
              </ul>
          </li>
          <li class="dropdown" ng-show="$root.token != null">
            <a class="dropdown-toggle menu-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="actionUserPanel()">
              <img ng-src="http://lehoiviet.herokuapp.com/{{$root.avatar}}" alt="" />
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                  <a href="#/user/profile" ng-click="actionUserPanel()">
                      <strong>{{$root.firstName}}</strong>
                  </a>
              </li>
              <li><a href="#/account/setting" ng-click="actionUserPanel()">Cập nhật tài khoản</a></li>
              <li><a href="/postReview.html" ng-click="actionUserPanel()">Viết cảm nghĩ</a></li>
              <li><a href="#" ng-click="logout()">Đăng xuất</a></li>
            </ul>
          </li>
          <li class="login"><a class=" hover-menu" type="button" ng-click="loginView()" ng-show="$root.token == null">Đăng Nhập</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
    <div class="modal fade" tabindex="-1" role="dialog" id="searchbox">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="search" method="post" action="index.html">
                        <input type="text" name="search" placeholder="Tìm kiếm lễ hội..." ng-keyup="searchKeyword()" ng-model="keySearch" id="key" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" />
                        <ul class="showSearch">
                            <li ng-repeat="item in dataSearch"><a href="/create/festival/{{item._id}}">{{item.title.trunc(80)}}</a></li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
});
</script>
<!-- inject other component -->
<user-handler></user-handler>
