<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register-title" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="resgiterFrom" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="upload-avatar-title"><i class="fa fa-fw fa-smile-o"></i>Đăng kí tài khoản</h3>
                </div>
                <div class="modal-body row">
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Tên</label>
                        <div class="col-xs-9">
                            <input ng-model="firstname" name="firstname" type="text" class="form-control" required>
                            <span class="text-error" ng-show="resgiterFrom.firstname.$dirty && resgiterFrom.firstname.$invalid">
                        <span ng-show="resgiterFrom.firstname.$error.required">Tên là bắt buộc.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Họ</label>
                        <div class="col-xs-9">
                            <input ng-model="lastname" name="lastname" type="text" class="form-control" required>
                            <span class="text-error" ng-show="resgiterFrom.lastname.$dirty && resgiterFrom.lastname.$invalid">
                        <span ng-show="resgiterFrom.lastname.$error.required">Họ là bắt buộc.</span>
                            </span>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Email</label>
                        <div class="col-xs-9">
                            <input ng-model="email" name="email" type="email" class="form-control" required>
                            <span class="text-error" ng-show="resgiterFrom.email.$dirty && resgiterFrom.email.$invalid">
                      <span ng-show="resgiterFrom.email.$error.required">Email là bắt buộc</span>
                            <span ng-show="resgiterFrom.email.$error.email">Email không đúng</span>
                            </span>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <!-- /.form group -->
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Mật khẩu</label>
                        <div class="col-xs-9">
                            <input ng-model="password" name="password" type="Password" class="form-control" required>
                            <span class="text-error" ng-show="resgiterFrom.password.$dirty && resgiterFrom.password.$invalid">
                        <span ng-show="resgiterFrom.password.$error.required">Mật khẩu là bắt buộc</span>
                            </span>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Nhập lại mật khẩu:</label>
                        <div class="col-xs-9">
                            <input type="password" id="password_c" name="password_c" ng-model="password_c" valid-password-c class="form-control" required>
                            <span class="text-error" ng-show="resgiterFrom.password_c.$error.required && resgiterFrom.password_c.$dirty && resgiterFrom.password.$invalid">Please confirm your password.</span>
                            <span class="text-error" ng-show="!resgiterFrom.password_c.$error.required && resgiterFrom.password_c.$error.noMatch && resgiterFrom.password.$dirty">Mật khẩu không khớp</span>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <div class="form-group col-xs-12 row">
                        <label class="col-xs-3">Giới tính</label>
                        <div class="col-xs-9 row" required>
                            <label class="radio-inline">
                                <input ng-model="gender" ng-value="1" type="radio" name="gender">Nam
                            </label>
                            <label class="radio-inline">
                                <input ng-model="gender" ng-value="2" type="radio" name="gender">Nữ
                            </label>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <div class="checkbox form-group col-xs-12">
                        <label>
                            <input type="checkbox" required> Tôi đồng ý với những <a href="#">điều khoản</a> và <a href="#">nội quy</a> của diễn đàn
                        </label>
                    </div>
                    <div style="text-align: right;">
                        <button ng-click="signupView()" type="Submit" class="btn btn-forgot">Đăng kí</button>
                    </div>
                </div>
                <div class="modal-footer toolbar clearfix">
                    <div style="text-align: center;">
                        <a id="loginback" href="#" ng-click='loginView()' class="user-back-link">
                            <i class="fa fa-arrow-left"></i> Quay lại đăng nhập
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
