.festival-item-base {
  margin-top: 10px;
  background-color: #fff;
  color: #555;
  border: 1px solid #eee;
}
.festival-item-base .col-xs-12 {
  padding: 0px;
}
.festival-item-base .title {
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  overflow: hidden;
  color: #247ba0;
  margin-bottom: 7px;
}
.festival-item-base .title:hover {
  text-decoration: none;
}
.festival-item-base .festival-img a {
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: #ddd;
}
.festival-item-base .festival-img a img {
  width: 100%;
  height: auto;
}
.festival-item-base .festival-info {
  padding: 10px;
  padding: 10px;
}
.festival-item-base .festival-info .col-xs-3 {
  padding: 0px;
  text-align: center;
}
.festival-item-base .festival-info ul {
  margin: 0px;
  padding: 0px;
}
.festival-item-base .festival-info li {
  list-style: none;
}
.festival-item-base .festival-info .title a {
  padding-right: 10px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.festival-item-base .festival-info .price {
  font-size: 12px;
}
.festival-item-base .festival-info .header {
  margin-bottom: 5px;
}
.festival-item-base .festival-info .header i {
  margin-top: 5px;
  font-size: 35px;
  color: #c7c4b7;
}
.festival-item-base .festival-info .header h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #337ab7;
  line-height: 150%;
}
.festival-item-base .address {
  border: 1px solid #ddd;
  display: inline-block;
  color: #666;
  padding: 1px 5px;
}
.festival-item-base .header {
  position: relative;
}
.festival-item-base .event-date {
  width: 54px;
  text-align: center;
  position: absolute;
  bottom: -7px;
  right: 0px;
}
.festival-item-base .event-date .date-month {
  background-color: red;
  color: #fff;
}
.festival-item-base .event-date .date-day, .festival-item-base .event-date .date-month {
  font-size: 10px;
  line-height: 18px;
}
.festival-item-base .event-date .date-num {
  font-size: 20px;
  height: 26px;
  padding-top: 3px;
}
.festival-item-base .event-date .date-detail {
  border: 1px solid #ccc;
}

.festivals .col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.box-input-search-festivals {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.box-input-search-festivals img {
  width: 100%;
  height: auto;
}

.input-search-festival {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 50px;
}
.input-search-festival h2 {
  color: #ffffff;
}
.input-search-festival > div {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px 5px 15px 15px;
  background-color: #ffffff;
  text-align: left;
}
.input-search-festival input {
  width: calc(100% - 50px);
  border: 0;
  font-size: 16px;
}
.input-search-festival button {
  font-size: 20px;
  color: #ccc;
  width: 40px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
}
