<div>

<div id="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-4 infoWeb">
            <div class="description">
                <img src="assets/img/Logo_white.png" alt="">
                <p>Trang thông tin lễ hội hàng đầu Việt Nam.</p>
                <p>Lễ Hội Việt được xây dựng bởi cộng đồng nhằm chia sẻ những thông tin lễ hội thú vị, đặc sắc trên khắp mọi miền đất nước.</p>
            </div>
        </div>
        <div class="col-sm-2 infoWeb about-us">
            <h4>Về chúng tôi</h4>
            <div><a href="/introduction">Giới thiệu</a></div>
            <div><a href="">Điều khoản</a></div>
            <div><a href="/contact">Liên hệ</a></div>
        </div>
        <div class="col-sm-3 infoWeb">
            <h4>Đăng ký nhận email</h4>
            <div class="subcribe-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="Email của bạn">
            </div>
        	<h4 class="margin-footer">Theo dõi thêm</h4>
            <div>
                <ul class="list-inline social-icon">
                    <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 infoWeb">
            <h4>Tags</h4>
            <div class="list-tag">
                <a href="">Du lịch</a>
                <a href="">Lễ hội</a>
                <a href="">Hà Nội</a>
                <a href="">Hồ Chí Minh</a>
                <a href="">Ngoài trời</a>
                <a href="">Trong nhà</a>
                <a href="">Âm nhạc</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="copyright">
  <div class="container">
      <div class="row">
          <div class="copy-left">
              <p>Hệ thống đăng thông tin về các hoạt động du lịch , lễ hội hàng đầu Việt Nam</p>
              <p>Bản quyền thuộc về lehoiviet.vn © 2016</p>
              <p class="text-center">Make with <i class="fa fa-heart text-red"> Vietnam</i></p>
          </div>
      </div>
  </div>
</div>

</div>
